<div class="container">
  <div class="row">
    <h3 class="col-2 text-center alert alert-secondary">会員一覧</h3>
    <div class="col-10"></div>
      <div class="col-10 offset-1">
      <table class='table'>
        <thead>
          <tr class="alert-secondary">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <!--<%# customers.each do |customer| %>-->
          <tr>
            <td>
              1
              <!--<%#= customer.id %>-->
            </td>
            <td>
              スーパーマン
              <!--<%#= link_to customer.family_name + first.name, admin_customer_path(customer) %>-->
            </td>
            <td>
              aaa@test.com
              <!--<%#= customer.email %>-->
            </td>
            <td>
              有効
              <!--<%# if customer.is_exit == false %>-->
              <!--  <p class="text-success">有効</p>-->
              <!--<%# else %>-->
              <!--  <p class="text-secondary">退会</p>-->
              <!--<%# end %>-->
            </td>
          </tr>
          <!--<%# end %>-->
          <tr>
            <td>2</td>
            <td>キャプテン・アメリカ</td>
            <td>bbb@test.com</td>
            <td>有効</td>
          </tr>
          <tr>
            <td>3</td>
            <td>アイアンマン</td>
            <td>ccc@test.com</td>
            <td>有効</td>
          </tr>
          <tr>
            <td>4</td>
            <td>スパイダーマン</td>
            <td>ddd@test.com</td>
            <td>退会</td>
          </tr>
          <tr>
            <td>5</td>
            <td>ハルク</td>
            <td>bbb@test.com</td>
            <td>有効</td>
          </tr>
          <tr>
            <td>6</td>
            <td>ソー</td>
            <td>eee@test.com</td>
            <td>有効</td>
          </tr>
          <tr>
            <td>7</td>
            <td>ブラック・ウィドウ</td>
            <td>fff@test.com</td>
            <td>有効</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--<div class="text-center"><%#= paginate(@customers) %></div>-->
  </div>
</div>