<div class="row justify-content-center">
  <div class="col-9 my-3">
    <h3 class="col-xl-3 col-lg-4 col-md-5 col-sm mt-5 text-center alert alert-secondary">会員一覧</h3>
  </div>
    <div class="col-10"></div>
      <div class="col-10 offset-1">
      <table class='table justify-content-center'>
        <thead>
          <tr class="alert-secondary">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td class="align-middle">
              <%= customer.id %>
            </td>
            <td class="align-middle">
              <%= link_to customer.family_name + customer.first_name, admin_customer_path(customer) %>
            </td>
            <td class="aline-middle">
              <%= customer.email %>
            </td>
            <td class="align-middle">
              <% if customer.is_exist == false %>
                <div class="text-success align-middle">有効</div>
              <% else %>
                <div class="text-secondary aline-middle">退会</div>
              <% end %>
            </td>
          </tr>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center"><%= paginate(@customers) %></div>
</div>