/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Vollkorn',"游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif, sans-serif;
  color: #B3303C;
}

// ヘッダーレイアウト
header {
  background-image: linear-gradient(to bottom, #DB5661, #fff4ea);
  background-repeat: no-repeat;
}

#logo {
  height: 130px;
}

li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
}

.btn {
  color: #b3303c;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
  width: 150px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(179, 48, 60, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  &:hover{
    border-color: #b3303c;
    box-shadow: inset 0 0 20px rgba(179, 48, 60, 0.5), 0 0 20px rgba(179, 48, 60, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    text-shadow: 2px 2px 3px #b3303c;
  }
}


// メインレイアウト
body {
  background-color: #fff4ea;
}

.mainvisual {
  height: 500px;
  width: 90%;
  background-image: image-url('cake02.jpg');
  background-size: cover;
  background-position: center;
}

.subvisual {
  height: 300px;
  margin-bottom: 30px;
  background-image: image-url('cake05.jpg');
  background-size: cover;
  background-position: center;
}

.news {
  background-color: #DB5661;
  margin: 20px 0 20px 0;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #fff;
}

.about {
  background-color: #DB5661;
  margin: 20px 0 20px 0;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #fff;
}

.effect{
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.effect:hover {
  opacity: .7;
}

// バリデーションエラー時
.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

// フッターレイアアウト
footer {
  height: 100px;
  background-color: #fff4ea;
  background-repeat: no-repeat;
}

.adress {
  margin-left: 30px;
}

.copyright {
  margin-top: 10px;
  margin-left: 30px;
}

.table .center{
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    vertical-align: middle;
}